/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    withName: 'AGAT_FIX_DUPLICATIONS|AGAT_KEEP_LONGEST_ISOFORM|AGAT_FIX_OVERLAPPING_GENES|AGAT_FILTER_INCOMPLETE_GENE_CODING_MODELS|AGAT_FIX_CDS_PHASES' {
        publishDir = [
            path: { "${params.outdir}/gff_cleaning/${task.process.tokenize(':')[-1].toLowerCase()}/${meta.id}" },
            mode: 'copy'
        ]
    }

}
