process {

    withName: 'EXTRACT_PROTEINS' {
        ext.args   = { [
            "--type cds",
            "--protein",
            "--clean_final_stop",
            "--clean_internal_stop"
        ].join(' ').trim() }
    }

    withName: 'EXTRACT_CDS' {
        ext.args   = { [
            "--type cds"
        ].join(' ').trim() }
    }

}
