process {

    withName: 'EXTRACT_PROTEOME|EXTRACT_OTHER_PROTEOMES'  {
        tag = { "${id} :: ${gff.baseName}" }
        ext.args   = { [
            "--type cds",
            "--protein",
            "--clean_final_stop",
            "--clean_internal_stop"
        ].join(' ').trim() }
    }

    withName: 'EXTRACT_PROTEOME'  {
        tag = { "$id" }
    }

    withName: 'EXTRACT_OTHER_PROTEOMES'  {
        tag = { "${id} :: ${gff.baseName}" }
    }

    withName: 'EXTRACT_CDS' {
        tag = { "$id" }
        ext.args   = { [
            "--type cds"
        ].join(' ').trim() }
    }

}
