process {

    withName: 'EGGNOGMAPPER_EMAPPER' {
        ext.common_args = { [ ].join(' ').trim() }
        ext.args_diamond = { [
            "--sensmode", "ultra-sensitive",
            "--dmnd_iterate", "yes"
        ].join(' ').trim() }
        ext.args_pfam   = { [ ].join(' ').trim() }
        ext.args_mmseqs = { [ ].join(' ').trim() }
        ext.args_hmmer  = { [ ].join(' ').trim() }
    }

}
