/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    withName: 'GTF_STATISTICS' {
        publishDir = [
            path: { "${params.outdir}/qc/gtf_stats/${meta.id}" },
            mode: 'copy'
        ]
    }

    withName: 'BUSCO_GENOME' {
        publishDir = [
            path: { "${params.outdir}/qc/busco_genome/${meta.id}" },
            mode: 'copy'
        ]
        ext.prefix = { "${meta.id}_genome-${lineage}" }
    }

    withName: 'BUSCO_PROTEOME' {
        publishDir = [
            path: { "${params.outdir}/qc/busco_proteome/${meta.id}" },
            mode: 'copy'
        ]
        ext.prefix = { "${meta.id}_proteome-${lineage}" }
    }

}
