process {

    withName: 'SRATOOLS_PREFETCH' {
        ext.args   = { [
                "--progress",
                "--max-size 100G" // potentially very huge, but at least it should remove the limits set by this parameter
            ].join(" ").trim()
        }
    }
    
    withName: 'SRATOOLS_FASTERQDUMP' {
        ext.args   = { [
                "-v",
                "--skip-technical"
            ].join(" ").trim()
        }
    }

}