process {

    withName: 'BRAKER3' {
        ext.args = {[
            "--AUGUSTUS_ab_initio",
            "--verbosity=4"
            //"--UTR=off",
            //"--addUTR=off"
        ].join(' ').trim()}
    }

    withName: 'SEQKIT_CONCAT' {
        ext.args   = { [
            "--full"
        ].join(' ').trim() }
    }

}
