/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    withName: 'BRAKER3' {
        ext.args = {[
            //"--verbosity=4"
            //"--UTR=off",
            //"--addUTR=off"
        ].join(' ').trim()}

        // errorStrategy = "ignore"
        publishDir = [
            path: { "${params.outdir}/structural_annotation/braker3" },
            mode: 'copy'
        ]
    }
    
    withName: 'SEQKIT_CONCAT' {
        ext.args   = { [
            "--full"
        ].join(' ').trim() }
    }

}
