/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run genome_annotator -profile test,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

process {
    resourceLimits = [
        cpus: 12,
        memory: '20.GB',
        time: '4.h'
    ]

    withName: 'EGGNOGMAPPER_EMAPPER' {
        ext.args = {[
            "--sensmode fast",
            "--dmnd_iterate no"
        ].join(' ').trim()}
    }
}

params {

    input  = "tests/test_data/test/samplesheet.yaml"
    outdir = "./results/test/"
    busco_lineage = 'microsporidia_odb12'
}
